body{
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;

}

.topo{
  background: #CF2B2B;
  height: 92px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 10px 15px;
  color: white;
  position: sticky;
  z-index: 10;
}

.topo h1{
  font-family: Righteous, cursive;
  font-size: 50px;
}


.topo h4 {
  font-size: 20px;
  font-weight: 400;
}




.titulo-pedido-pratos{
  margin: 20px 15px;
  font-family: Righteous, cursive;
  font-size: 26px;
  color: #2e2e2e;
}




.pedidos-pratos{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 16px;
  padding: 10px 15px;
  scroll-snap-type: x mandatory;
}



.pedidos-bebidas{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 16px;
  padding: 10px 15px;
  scroll-snap-type: x mandatory;
}

.pedidos-sobremesa{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 16px;
  padding: 10px 15px;
  scroll-snap-type: x mandatory;
}


.card-item  .icone-check{
  margin-left: 110px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #32B72F;
  display: none;
}

.card-item.ativo .icone-check {
  display: block;
}



.card-item  {
  flex: 0 0 auto;
  background-color: #ffffff;
  width: 160px;
  scroll-snap-align: start;
  max-width: 200px; 
  height: auto;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 7px;
}

.card-item h3 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.card-item p {
  font-size: 15px;
  font-weight: 300;
  color: #A6A6A6;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-item p.valor-pedido {
  font-weight: 500;
  color: #000000;
}

.titulo-pedido-bebidas{
  margin: 20px 15px;
  font-family: Righteous, cursive;
  font-size: 26px;
  color: #2e2e2e;
}

.titulo-pedido-sobremesa{
  margin: 20px 15px;
  font-family: Righteous, cursive;
  font-size: 26px;
  color: #2e2e2e;
}

.container-botao{
  width: 100%;
  height: 92px;
  margin-top: 40px;
  background-color: #ffffff;
}



.botao-pedidos button {
  height: 70px;
  max-width: 300px;
  width: 100%;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  margin: 20px auto;
  background-color: #CBCBCB;
  cursor: pointer;
  display: block;
  }


.ativo{
  border:  5px solid green;
}




.botao-pedidos button.ativo {
  background-color: #32B72F;  
  color: #fff;  
}




.pedido-final {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pedido-final .container {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: left;
}

.pedido-final .container p {
  font-size: 16px;
  color: #333;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}



.pedido-final .container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #32B72F;
}


.escondido{
  display: none;
}

@media (max-width :768px){
  .topo h1 {
    font-size: 30px;
  }

  .topo h2 {
    font-size: 16px;
  }

  
}